@import url("../../assets/css/font-awesome.min.css");
.yjsg-icons-container{
	display:block;
	overflow:hidden;
}
.yjsg-icons-holder{
	width:100%;
	max-width:400px;
	display:block;
	overflow:auto;
	margin-bottom:20px;
	font-size:28px;
	max-height:200px;
	clear:both;
	
}

.yjsg-icons-holder span{
	float:left;
	margin:5px;
	border:1px solid #ccc;
	padding:3px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
}
.yjsg-icons-container input.yjsg-fa{
	display:block;
	clear:both;
	font-size:20px;
}
.adminformlist > li{
	display:block;
	clear:both;
}
/* admin template reset */
.icon-32-apply {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-apply.png)!important;
}
.icon-32-save {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-save.png)!important;
}
.icon-32-cancel {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-cancel.png)!important;
}
.icon-32-help {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-help.png)!important;
}
.icon-32-save-new {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-save-new.png)!important;
}
.icon-32-save-copy {
background-image: url(../../../../../administrator/templates/bluestork/images/toolbar/icon-32-save-copy.png)!important;
}
.yjsg-radio-group input[type=radio],
.yjsg-radio-group input[type=checkbox] {
	display:none;
}
.yjsg-radio-group input[type=radio] + label,
.yjsg-radio-group input[type=checkbox] + label {
	display:inline-block;
	margin:0;
	padding: 4px 12px!important;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image: -o-linear-gradient(top, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.yjsg-radio-group input[type=radio]:checked + label,
.yjsg-radio-group input[type=checkbox]:checked + label {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color: #51a351 #51a351 #387038;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}